//Use rules must go first!
@use './partials/rating';
@use './partials/thankyou';
@use './partials/main';

//Vercel live site doesnt seem to use this font when it is imported here. It works when put in the head component as a link!
//@import url("https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap");

$darkBgColor: hsl(228, 11%, 9%);

*,*::before,*::after{
  box-sizing: border-box;
  font-family: Overpass;
}

// Including pages/_app.js creates a next.js app wrapper
html,body#__next{
  background-color: $darkBgColor;
  height: 100%;
}